footer > .footer-icon {
   width:50%;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: flex-start;
    padding-right: 10px;
    align-items: center;
    padding-left: 270px;
    
}
footer > .footer-logos {
    width:50%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 160px;
  
}
footer > .footer-icon > .footer-btns {
  padding-left: 30px;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: 'Fjalla One', sans-serif;
}
footer > .footer-logos > .logo {
    padding-right: 30px;
    cursor: pointer;
}