body {
    margin: 0 auto;
}

nav {
    height: 800px; 
    background-color: grey;
}

header {
    height: 90px;
    background-color: #202628; 
}

main {
    min-height: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0px 150px 0px 150px;
}

footer {
    height: 150px;
    background-color: #202628;
    color: white;
    display: flex;
    justify-content: space-between;
}




