footer > .footer-icon {
   width:50%;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: flex-start;
    padding-right: 10px;
    align-items: center;
    padding-left: 400px;
    
}
footer > .footer-logos {
    width:50%;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 400px;
  
}
footer > .footer-icon > .footer-btns {
  padding-left: 30px;
  cursor: pointer;
}
footer > .footer-logos > .logo {
    padding-right: 30px;
    cursor: pointer;
}