.headerWrapper {
    padding: 0px 150px 0px 0px;
}

.headerLogo {
    float: left;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    padding: 25px 0px 0px 250px;
}

.headerWrapper__button {
    float: right;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    cursor: pointer;
    padding: 34px 23px;
    list-style-type: none;
}

.headerWrapper__button:hover {
    background-color: #e84c3d;
    transition: 0.5s;
}

.menu {
    display: none;
}