main > .first {
  min-height: 35%; 
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
main > .second {
 min-height: 25%;
 background-color: #e84c3d;
 border-radius: 15px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-left: 100px; 
  margin-top: 20px;
}
main > .contacts {
 min-height: 40%;
 margin-top: 30px;
 margin-left: 100px;
 margin-bottom: 50px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
main > .contacts > .contact {
    width: 32%;
    height: 100%;
}
main > .contacts > .contact > .title {
    color: black;
}
.first > .desc > .main-title {
   letter-spacing: 1px;
   font-family: 'Fjalla One', sans-serif;
   font-size: 1.1vw;
   width: 80%;
}
.articles {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
}
.article {
    min-width: 40%;
    min-height: 40%;
}
h4 {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
}
.article__desc {
    font-family: 'Fjalla One', sans-serif;
    color: grey;
    letter-spacing: 1px;
    font-size: 0.7vw;
    line-height: 1.5;
    width: 80%;
    min-height: 40%;
}
.icon-contact {
    display: flex;
    flex-direction: row;
    padding: 10px 10px; 
    min-width:100%;
    min-height: 100%;
}
.form {
    background-color: #e7e7e7;
    border-radius: 10px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.icon-form {
    border-radius: 40px;
    font-size: 15px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    font-style: oblique;
    height: 30px;
    width: 80%;
    padding: 10px;
    padding-left: 15px;
    margin-left: 20px;
}
.pict {
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc {
    width: 60%;
}
.round-img {
    border-radius: 100%;
    width: 400px;
    height: 400px;
    min-width: 60%;
    min-height:60%;
}
.contact__img {
    border-radius: 100px;
    width: 70px;
    height: 70px;
    margin: 10px 10px;
}
.icon-input {
    width: 50%;
}
.icon-desc {
    display: flex;
    padding-bottom: 40px;
    width: 50%;
}
.icon-desc__logo {
    margin-top: 50px;
    margin-left: 20px;
}
.main__btn {
   background-color: #e84c3d;
   border: none;
   width: 90px;
   height: 50px;
   color: white;
   border-radius:30px;
   font-size: 15px;
   outline: none;
   cursor: pointer;
   font-family: 'Fjalla One', sans-serif;
   letter-spacing: 1px;
}
.send-btn {
    height: 120px;
}
.btn-subcribe {
   background-color: black;
   border: none;
   width: 100px;
   height: 40px;
   padding: 10px;
   color: white;
   border-radius: 20px;
   font-size: 15px;
   outline: none;
   cursor: pointer;
   font-family: 'Fjalla One', sans-serif;
   letter-spacing: 1px;
   margin-left: 20px;

}
.info-title, .info__desc, .icon-input__title, .title {
    color: white;
    font-family:'Fjalla One', sans-serif;
}
.info-title, .title {
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 20px;
}
.icon-input__title {
    letter-spacing: 2px;
    margin-left: 30px;
    font-size: 0.85vw;
    margin-top: 50px;
}
.info__desc, .form__desc, .icon-contact__info {
    font-size: 0.6vw;
    font-weight: 200;
    width: 90%;
    padding-left: 30px;
    line-height: 2;
    font-family:'Fjalla One', sans-serif;
    letter-spacing: 1px;
}
.form__desc, .icon-contact__info {
    color: grey;
    height: 100%;
    
}
.contact-input {
    border-radius: 40px;
    font-size: 15px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    font-style: oblique;
    height: 80px;
    width: 80%;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
}
.icon-contact__title {
    color:#e84c3d;
     font-family:"Fjalla One", sans-serif;
     font-size: 17px;
     font-weight: 500; 
     padding-left: 20px;
}
.third-contact__desc {
    margin: 0px;
    width: 100%;
}
li {
    list-style-type: none;
}
ul {
    padding: 0px;
}
