.container-main {
    width: 1170px;
    margin: 0 auto;
}

.firstSection {
  height: 514px; 
  display: flex;
  align-items: center;
}

.secondSection {
  min-height: 189px;
  background-color: #e84c3d;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.thirdSection {
  min-height: 568px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstSectionWrap__title {
   font-family: 'Fjalla One', sans-serif;
   font-size: 21px;
   width: 800px;
   height: 44px;
   font-weight: 600;
   padding-bottom: 30px;
}

.firstSectionWrap__subtitle {
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    color:#e84c3d;
    font-size: 20px;
}

.articleWrap {
    display: flex;
}

.article {
    min-width: 400px;
    min-height: 240px;
}

.article__title {
    padding: 30px 0px 22px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.article__desc {
    max-width: 370px;
    min-height: 110px;
    font-family: 'Lato', sans-serif;
    color: grey;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.5;
    margin: 0px 0px;
    padding-bottom: 40px;
    
}

.article__btn {
   width: 70px;
   height: 37px;
   background-color: #e84c3d;
   border: none;
   color: white;
   border-radius:30px;
   font-size: 14px;
   outline: none;
   cursor: pointer;
   font-family: 'Fjalla One', sans-serif;
}

.sections__content {
    min-width:100%;
    min-height: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.form {
    height: 392px;
    background-color: #e7e7e7;
    border-radius: 10px;
   
}

.search {
    height: 41px;
    width: 60%;
    border-radius: 40px;
    font-size: 14px;
    outline: none;
    border: none;
    font-style: oblique;
  margin-top: 28px;
    padding-left: 20px;
   
}

hr {
    margin: 0px;
}

.pict {
    width:40%;
    padding-left: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    width: 60%;
}

.thumb {
    width: 354px;
    height: 354px;
    min-width: 30%;
    min-height:30%;
    border-radius: 100%;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    padding-right: 30px;
}

.icon-search {
    width: 525px;
}

.descWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descWrap__logo {
   padding: 0px 30px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.send-btn {
    height: 40px;
    width: 100px;
    font-size: 15px;
}

.icon-search__btn {
    width: 121px;
   height: 41px;
   background-color: black;
   border: none;
   color: white;
   border-radius: 20px;
   font-size: 15px;
   text-align: center;
   margin-left: 5px;
   outline: none;
   cursor: pointer;
   font-family: 'Fjalla One', sans-serif;   
}

.sections__content-text {
    width: 300px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    color: grey;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
 
}

.form-container {
   padding: 30px;
   height: 330px;
   width: 309px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

.info__title, .info__desc, .icon-search__title, .sections__title {
    color: white;
    font-family: 'Fjalla One', sans-serif;
 
}

 .sections__title {
    font-size: 21px;
    padding-bottom: 22px;
    font-family: 'Fjalla One';

}
.info-title {
    width: 200px;
    font-size: 21px;
}

.icon-search__title {
    font-size: 21px;
    width:300px;
 
}

 .contact-desc__info {
    width: 90%;
    font-size: 16px;
    font-weight: 200; 
    font-family: 'Lato', sans-serif;
}

.info__desc {
    width: 445px;
    padding-top: 15px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 200; 
    font-family: 'Lato', sans-serif;
}

.form__desc, .contact-desc__info {
    color: grey;
    padding-left: 0px;
}

.icons {
   padding-bottom: 60px;
}

.form__desc {
    height: 50px;
    padding-bottom: 30px;
    width: 90%;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.contact-desc__info {
    height: 80px;
}
.info__title {
    font-size: 21px;
}

.form__input {
    height: 38px;
    width: 90%;
    border-radius: 40px;
    font-size: 14px;
    outline: none;
    border: none;
    font-style: oblique;
    padding-left: 15px;
}

.form__textarea {
    width: 90%;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    font-style: oblique;
    padding-left: 15px;
    height: 63px;
    padding-top: 15px;
}

.contact-desc__title {
    color:#e84c3d;
     font-family:"Lato", sans-serif;
     font-size: 17px;
     font-weight: 600; 
     padding-left: 20px;
}

a {
    font-family:"Lato", sans-serif;
}

.contact-desc {
    margin: 0px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
}

.items{
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    padding-left: 20px;
    

}

.list {
    padding: 0px;
}

.sections {
    width: 370px;
    min-height: 440px;
    display: flex;
    flex-direction: column;
}

.sections__title {
    color: black;
}
