.headerLogo {
    font-family: 'Fjalla One'; 
    color: #ffffff;
    font-size: 25px;
}

.headerWrapper {
    display: flex;
    justify-content: space-around;
}

.container {
    max-width: 1170px;
    margin: 0 auto; 
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.headerWrapper__button {
    font-family: 'Fjalla One';
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-size: 13px;
    padding: 32.4px 20px 32.4px 20px;
}

.headerWrapper__button:hover {
    background-color: #e84c3d;
    transition: 0.5s;
}

