.navWrapper {
   height: 70%;
   width: 100%;
   background-color: grey;
   font-family: 'Fjalla One', sans-serif;
 }

 .image {
   display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image > img {
   flex-shrink: 0;
   min-width: 100%;
   min-height: 100%
}

.row {
    height: 30%;
    background-color: #e7e7e7;
    display: flex;
    justify-content: space-around;
    padding-left: 250px;
    padding-right: 250px;
}

.rowWrapper {
   width:36%;
   height:100%;
    box-sizing: border-box;
    display: flex;
 }

 .description {
    height: 150px;
    width: 50px;
 }

 .logo {
    padding: 30px 30px 0px 0px;
    height: 10%;
    min-width: 10%;
 }

 .description__title {
   width: 350px;
   font-family: 'Fjalla One', sans-serif;
   font-size: 1.3vw;
   padding-bottom: 20px;
   padding-top: 20px;
   letter-spacing: 2px;
}

.description__content {
   width: 300px;
   font-family: 'Lato', sans-serif;
   color: grey;
   font-size: 12px;
   letter-spacing: 1px;
   line-height: 2;
}

 .imgWrapper {
    position: relative;
    left: 300px;
    bottom: 250px;
    width:400px;
}

.imgWrapper__logo {
    padding-bottom: 10px;
    margin-left: -40px;
}

.imgWrapper__title {
   color: white;
   width: 700px;
   font-size: 1.5vw;
   letter-spacing: 4px;
   padding-bottom: 10px;
   margin-left: -40px;
}

.imgWrapper__link > a {
   color: #e84c3d;
   text-decoration: none;
   letter-spacing: 1px;
   margin-left: -40px;
}